@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

@media only screen and (min-width: 60em) {
    
    html {
        font-size: 110%;
    }

}

@media only screen and (min-width: 90em) {
    
    html {
        font-size: 120%;
    }

}
    
@media only screen and (min-width: 120em) {
    
    html {
        font-size: 130%;
    }

}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.title {
    color: #e2e2e2;
    margin: 0;
    padding: 0;
    text-align:center;
    font-family: 'Monoton', cursive;
    font-size: 2em;
}

.colour {
    color: #e2e2e2;
}

a:focus {
    outline: 3px solid #000;
}

.skip-links {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.skip-links a {
    position: absolute;
    top: -3em;
    padding: 0.5em 0.75em;
    background-color: #000;
    color: #fff;
    font-weight: bold;
    font-size: 1.25em;
    text-decoration: none;
}
    
.skip-links a:focus {
    top: 0;
}

img {
  display: block;
  width: 100%;
}


.nav {
  padding: 0;
}

.nav li {
  display: block;
}

.nav a,
.nav a:link,
.nav a:visited {
  display: block;

    color: #e2e2e2;
    font-size: 2em;
    font-family: 'Helvetica', sans-serif;
    text-decoration: none;
}

.nav a:hover,
.nav a:focus,
.nav a:active,
.nav .nav-current,
.nav .nav-current:link,
.nav .nav-current:visited {
  background-color: #FFFFFF;

  color: black;
}

.masthead {
    background-image:url(../images/hands.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.intro {
    padding: 5rem 0rem 7rem;
    font-family: 'Helvetica', sans-serif;
    font-size: 2.5rem;
    text-align:center;
}
  
.intropara {
    text-align:left;
}

.form {
    margin:0 auto;
    max-width:35em;
}

.join {
    text-align: center;
}    

label {
    display: block;
}

input+label {
    display: inline-block;
}

form div {
    margin-bottom: 1.5rem;
}

.field,
select,
textarea {
    font-size: 1.125rem;
    width: 100%;
    display: block;
}

textarea {
    height: 10em;
}

input,
textarea {
    border: 1px solid #ccc;
    padding: 0.3em;
    border-radius: 6px;
}


.getting {
    font-size: 2rem;
    font-family:'Six Caps', sans-serif;
    color: #fff;
    padding: 0.5em 0.75em;
    background-color: transparent;
    border: 5px solid #fff;
    border-radius: 6px;
    cursor: pointer;
}

.radio {
    white-space: nowrap;
}

fieldset {
    border: none;
}

.move {
    text-align:center;
    padding-bottom: 18rem;
}

.tourintro {
    font-family: 'Helvetica', sans-serif;
    font-size: 2.5rem;
    text-align:center;
    padding-top: 2em;
    text-decoration: underline;
    text-decoration-color: black;
}

.boxes {
    padding: .5em;
    margin: auto;
    background-color: black;
    border: 5px solid #fff;
    border-radius: 6px;
    cursor: pointer;
}

.steps {
    color: white;
    text-align:center;
}

.captions {
    color: white;
    text-align: center;
    font-family: 'Helvetica', sans-serif;
}
    
@media only screen and (min-width: 25em) {
    
    .consortium {
        text-align: center
    }

  .nav {
    text-align: center;
  }

  .nav li {
    display: inline-block;
  }

    .h2 {
    padding-top: 2em;
    }
}

 

@media only screen and (min-width: 38em) {
    

  .title {
    float: left;
}

    .consortium {
        text-align: left;
    }
    
.nav {
        text-align: right;
    }

  .nav-bottom {
    text-align: right;
  }

.h2 {
    padding-top: 2em;
}

}
    
@media only screen and (min-width: 60em) {
    
   .title {
  margin: 0;
    text-align:left;
}
    
    .consortium {
        text-align: left;
    }
    
    .nav-bottom {
        text-align: right;
    }
    
.dt {
  clear: left;
  float: left;
  width: 8em;
}

.dd {
  float: left;
}
    
}



